{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2> <!--change Welcome to Hi -->

<h2 id="balance"> Your Balance: {{ user.balance }} </h2> <!-- Add the balance header-->

<!--Ziyu Yang: This creates the frame for the box -->
<html>
<head>
<style>
table,th,td {
    border:1px solid black;
}
th {
    text-align: center;
}
</style>
</head>
<body>

<!--This page lists all available tickets-->
<h2 >Here are all available tickets</h2>
<table style = "width:100%" id = "current_tickets">
    <tr>
        <th> Ticket Name</th>
        <th> Ticket Price</th>
        <th> Ticket Quantity</th>
        <th> Owner's Email</th>
    </tr>
</table>
<br>



<script>
    // This function adds all ticket information in database to the HTML table.
    function add_ticket() {
        var table = document.getElementById("current_tickets");
        var names = "{{names}}".replace("[", "").replace("]", "").replace(" ", "").replace("&#39;", "");
        var names = names.split(",");
        var prices = "{{prices}}".replace("[", "").replace("]", "").replace(" ", "");
        var prices = prices.split(",");
        var quantities = "{{quantities}}".replace("[", "").replace("]", "").replace(" ", "");
        var quantities = quantities.split(",");
        var emails = "{{emails}}".replace("[", "").replace("]", "").replace(" ", "").replace("&#39;", "");
        var emails = emails.split(",");
        var i;
        for (i = 0; i < names.length; i++) {
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = names[i];
            cell2.innerHTML = prices[i];
            cell3.innerHTML = quantities[i];
            cell4.innerHTML = emails[i];
        }
    }

    add_ticket();

</script>

<!-- This page contaisn a form that user can submit the ticket info for sell -->
<!-- contain ticket name; quantity; price; expiration date -->
<h4 id='message_s'>{{message_s}}</h4>
<h3> Ticket-Selling Form </h3>
<form action = "/sell" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="sell-name" id="sell-name" required>

    <label for="quantity">Quantity</label>
    <input class="form-control" name="sell-quantity" id="sell-quantity" required>

    <label for="price">Price</label>
    <input class="form-control" type="price" name="sell-price" id="sell-price" required>

    <label for="date">Expiration Date</label>
    <input class="form-control" type="date" name="sell-date" id="sell-date" required>

    <input class="btn btn-primary" type="submit" value="Submit Selling Ticket">
  </div>
</form>

<!-- This page contaisn a form that user can submit the ticket info for update -->
<!-- contain ticket name; quantity; price; expiration date -->
<h4 id='message_s'>{{message_s}}</h4>
<h3> Ticket-Updating Form </h3>
<form action = "/update" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="update-name" id="update-name" required>
      
    <label for="quantity">Quantity</label>
    <input class="form-control" name="update-quantity" id="update-quantity" required>
      
    <label for="price">Price</label>
    <input class="form-control" type="price" name="update-price" id="update-price" required>
      
    <label for="date">Expiration Date</label>
    <input class="form-control" type="date" name="update-date" id="update-date" required>
      
    <input class="btn btn-primary" type="submit" value="Update Selling Ticket">
  </div>
</form>

<!-- This page contaisn a form that user can submit the ticket info for buy-->
<!-- contain ticket name; ticket quantity-->
<h4 id='message_b'>{{message_b}}</h4>
<h3> Ticket-Buying Form </h3>
<form action = "/buy" method="post">
  <div class="form-group">
    <label for="name">Buying Ticket</label>
    <input class="form-control" name="buy-name" id="buy-name" required>

    <label for="quantity">Buying Quantity</label>
    <input class="form-control" name="buy-quantity" id="buy-quantity" required>

    <input class="btn btn-primary" type="submit" value="Submit Buying Ticket">
</div>
</form>
<a href='/logout'>logout</a>
{% endblock %}


</body>
</html>